# Environments
.venv/
venv/
.env

# Python caches
__pycache__/
*.pyc

# Local Data (щоб не пушити твої реальні чеки та історію)
# Local data storage
data/
data/receipt_images/
receipt.jpg
fridge_items.json
fridge_history.json
ingredients.csv
sources/
archive/
prompts/
memory/

# Agents
.agents/
agents/

# Gemini
.gemini/
gemini/

# IDEs
.vscode/
.idea/